@import url("./base.css");
@import url("./utils.css");

@import url("./modules/sidebar.css");
@import url("./modules/form.css");
@import url("./modules/profile.css");

:root {
  --ff: Ubuntu, sans-serif;
}

.container {
  display: grid;
  grid-template-columns: 300px 1fr;
  gap: 1rem;
  min-height: 100vh;
}
